# Exclude virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Exclude Python cache files
__pycache__/
*.py[cod]
*$py.class

# Exclude Git files
.git/
.gitignore

# Exclude Docker files
.dockerignore
Dockerfile
Dockerfile.*

# Exclude IDE and editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Exclude macOS files
.DS_Store

# Exclude logs and temp files
logs/
*.log
*.tmp
*.csv

# Exclude other unnecessary files
*.swp
*.bak
*.old
*.orig

# Exclude folders 'log'
log/

# Exclude any files or directories starting with #
\#