version: '3.8'

x-common-env: &common-env  # Define global environment variables
  DEBUG: ${DEBUG}
  QDRANT_URL: ${QDRANT_URL}
  GEMINI_API_KEY: ${GEMINI_API_KEY}
  GEMINI_MODEL_SUMMARY: ${GEMINI_MODEL_SUMMARY}
  SENTENCE_TRANSFORMER: ${SENTENCE_TRANSFORMER}
  TRANSFORMERS_CACHE: ${TRANSFORMERS_CACHE}
  TABLE: ${TABLE}
  QDRANT_API_KEY: ${QDRANT_API_KEY}

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile.api
    container_name: semantic_search_app_api_container
    env_file: .env  # Load .env file
    environment:
      <<: *common-env  # Inherit from global variables
    ports:
      - "8000:8000"
    networks:
      - semantic_search_network
    depends_on:
      - uploader

  app:
    build:
      context: ./semantic-search-ui
      dockerfile: Dockerfile
    container_name: semantic_search_ui_container
    env_file: .env  # Load .env file
    environment:
      REACT_APP_API_URL: ${REACT_APP_API_URL}  # Unique to 'app' service
    ports:
      - "80:80"
    networks:
      - semantic_search_network
    depends_on:
      - api

  uploader:
    build:
      context: ./data
      dockerfile: Dockerfile.uploader
    container_name: file_uploader_to_qdrant
    env_file: .env  # Load .env file
    environment:
      <<: *common-env  # Inherit from global variables
    volumes:
      - ./data:/mnt/data  # Mount directory with CSV files
    networks:
      - semantic_search_network

networks:
  semantic_search_network:
    driver: bridge
