version: '3.8'

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile.api
    container_name: semantic_search_app_api_container
    environment:
      - QDRANT_URL=http://qdrant:6333
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - TRANSFORMERS_CACHE=/app/cache/huggingface/transformers
    ports:
      - "8000:8000"
    networks:
      - semantic_search_network

  app:
    build:
      context: ./semantic-search-ui
      dockerfile: Dockerfile
    container_name: semantic_search_ui_container
    environment:
      - REACT_APP_API_URL=/api
    ports:
      - "80:80"
    networks:
      - semantic_search_network

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
    networks:
      - semantic_search_network

  uploader:
    build:
      context: ./uploader
      dockerfile: Dockerfile.uploader
    container_name: file_uploader_to_qdrant
    environment:
      - QDRANT_URL=http://qdrant:6333
    volumes:
      - ./data:/mnt/data  # Mount directory with CSV files
    networks:
      - semantic_search_network
    depends_on:
      - qdrant

networks:
  semantic_search_network:
    driver: bridge