/* app/static/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #00539CFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #EEA47FFF;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #d49470;
}

h2 {
    margin-top: 30px;
}

h3 {
    margin-top: 20px;
}

p {
    background-color: #f2f2f2;
    padding: 10px;
}
